.login-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("@/assets/login-bj.jpg");
  background-size: cover;
  .login-content-out {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


  }
  .login-content {
    width: 20vw;
    height: 30vh;
    padding: 20px;
    margin: auto;
    background-color: var(--el-color-white);
    border: 5px solid var(--el-color-primary-light-8);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    .login-content-main {
      margin: 0 auto;
      width: 90%;
    }

  }
}